@font-face {
    font-family: Lexend;
    src: url(/testVtop3/icons/Lexend-VariableFont_wght.ttf);
}

@font-face {
    font-family: Futura-PT;
    src: url(/testVtop3/icons/futura-pt-medium.ttf);
}

h1, h2, h3, h4, h5, p, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #110A1D;
    background-image: url(./icons/Dot\ Light.png), url(./icons/Dot\ Light2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body::-webkit-scrollbar {
    width: 0;
}

header {
    position: fixed;
    top: 16px;
    width: 86%;
    max-width: 1640px;
    height: 96px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 47px;
    border: 4px solid #478BF9;
    border-radius: 64px;
    background-color: #110A1D;
    z-index: 100;
}

.logo {
    width: 18%;
}

.nav-menu {
    display: flex;
    gap: 1.5vw;
    padding: 8px;
}

#nav-log-in, #nav-sign-up {
    display: none;
}

.nav-item, .buttons-item, .pages-item, .social-area-title {
    font-family: 'Lexend';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.6vw;
}

.buttons-item {
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid #9DADF2;
    border-radius: 24px;
    background: inherit;
    transition: 0.3s;
    cursor: pointer;
}

.buttons-item:hover, .title-button:hover, .news-item:hover {
    background-color: #478BF9;
}

main {
    width: 86%;
    height: 1127px;
    max-width: 1640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-block {
    position: relative;
    top: 30px;
    left: 5px;
}

.title {
    font-family: 'Lexend';
    font-size: 96px;
    font-weight: 500;
    line-height: 96px;
    color: #FFFFFF;
}

.blue {
    color: #478BF9;
}

.description {
    margin: 24px 0 44px 0;
    font-family: 'Lexend';
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.6);
}

.title-button {
    display: inline-block;
    padding: 20px 72px;
    border: 2px solid #9DADF2;
    border-radius: 48px;
    background: inherit;
    transition: 0.3s;
    font-family: 'Lexend';
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.blog {
    position: relative;
    top: 20px;
    left: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.blog-title {
    font-family: 'Lexend';
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    color: #FFFFFF;
}

.blog-news {
    width: 28vw;
    max-width: 531px;
    height: 595px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border: 3px solid #478BF9;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.12);
}

.news-block {
    position: relative;
    right: 5px;
    width: 467px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
    border-radius: 50px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.news-block::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(255, 255, 255, 0.12);
}

.news-block::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #478BF9;
}

.news-item {
    padding: 16px 60px;
    border-radius: 196px;
    background-color: #1E1231;
    transition: 0.3s;
    text-decoration: none;
}

.news-text {
    position: relative;
    bottom: 5px;
    margin: 6px 0;
    font-family: 'Lexend';
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
}

.news-date {
    font-family: 'Futura-PT';
    font-size: 14px;
    font-weight: 450;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.6);
}

.banner {
    position: relative;
    left: 35px;
    display: flex;
    gap: 0.8vw;
}

.banner-line {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 90px;
}

#line2 {
    margin-top: 145px;
}

#line3 {
    margin-top: 140px;
}

.static {
    width: 99px;
}

footer {
    position: relative;
    top: 8px;
    width: 100%;
    max-width: 1920px;
    height: 130px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 4px solid #478BF9;
    border-bottom: 0;
    border-radius: 64px 64px 0 0;
    padding: 40px 140px 20px 140px;
    background-color: #1E1231;
}

.pages {
    display: flex;
    gap: 1.8vw;
}

.pages-item {
    border-bottom: 1px solid #1E1231;
    transition: 0.3s;
}

.pages-item:hover {
    color: #478BF9;
    border-bottom: 1px solid #478BF9;
}

.social-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 14px;
}

.social-area-links {
    display: flex;
    gap: 8px;
}

.svg {
    transition: 0.3s;
}

.link:hover .svg{
    fill: #a4c3f5;
}

@media screen and (max-width: 320px) {
    body {
        height: 1438px;
        background-size: contain, contain;
        background-position: 0 7%, bottom right;
    }

    header {
        top: 10px;
        width: 93.75%;
        max-width: 300px;
        height: 56px;
        padding: 10px 14px;
        border: 2px solid #478BF9;
        border-radius: 64px;
        z-index: 100;
    }

    .buttons {
        gap: 2.5vw;
    }

    #lang {
        height: 36px;
        padding: 8px;
        border-radius: 24px;
    }

    .burger-menu {
        width: 30px;
        height: 30px;
        position: relative;
        z-index:102;
        overflow: hidden;
        cursor: pointer;
    }

    .burger-menu span {
        width: 21px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        transition: all 0.5s;
    }

    .burger-menu span:nth-of-type(2) {
        top: calc(50% - 6px);
    }
    .burger-menu span:nth-of-type(3) {
        top: calc(50% + 6px);
    }

    .burger-menu.active span:nth-of-type(1) {
        display: none;
    }
    .burger-menu.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
    }
    .burger-menu.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
    }

    #log-in, #sign-up, #lang-span {
        display: none;
    }

    .nav-menu {
        position: fixed;
        top: 96px;
        right: -100%;
        height: 100vh;
        width: 320px;
        background: #110A1D;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        z-index: 10;
        transition: 0.8s;
        opacity: 1;
        padding: 0;
    }

    #nav-log-in, #nav-sign-up {
        display: block;
        border-color: #9DADF2;
        background-color: #1E1231;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        transition: 0.3s;
    }

    #nav-log-in {
        margin-top: 30px;
    }

    #nav-log-in:hover, #nav-sign-up:hover {
        background-color: #478BF9;
    }

    .nav-item {
        width: 93.75%;
        box-sizing: border-box;
        border: 2px solid #478BF9;
        border-radius: 28px;
        padding: 13px 20px;
        font-size: 18px;
        line-height: 24px;
    }

    .visible {
        right: 0;
        opacity: 1;
    }

    main {
        flex-direction: column;
        width: 93.75%;
        max-width: 300px;
    }

    .title-block {
        top: 135px;
        left: -1px;
    }

    .title {
        font-size: 46px;
        line-height: 50px;
        text-align: center;
    }

    .description {
        margin: 15px 0 20px 0;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
    }

    .title-button {
        width: 300px;
        box-sizing: border-box;
        padding: 15px 20px;
        font-size: 18px;
        line-height: 22.5px;
        text-align: center;
    }

    .banner {
        top: 50px;
        left: -2px;
        height: 165px;
        flex-direction: column-reverse;
    }

    .banner-line {
        height: 55px;
        flex-direction: row;
        gap: 13px;
        margin: 0;
    }

    #line2, #line3 {
        margin-top: 0;
    }

    #line2 {
        position: relative;
        right: 36px;
    }

    #line1 {
        position: relative;
        right: 60px;
    }

    .static {
        width: 49px;
    }

    .rotate {
        position: relative;
        bottom: 26px;
        height: 109px;
        margin: 0 30px;
        transform: rotate(-90deg);
    }

    .blog {
        top: -40px;
        left: 0;
        gap: 20px;
    }

    .blog-title {
        font-size: 32px;
        line-height: 40px;
    }

    .blog-news {
        width: 300px;
        height: 421px;
        border-width: 2px;
        border-radius: 50px;
    }

    .news-block::-webkit-scrollbar {
        width: 4px;
    }
    
    .news-block::-webkit-scrollbar-thumb {
        border-radius: 4px;
    }

    .news-block {
        width: 274px;
        margin: 6px 0;
        gap: 12px;
    }

    .news-item {
        padding: 11px 35px;
        border-radius: 40px;
    }

    .news-text {
        font-size: 16px;
        line-height: 20px;
        margin: 9px 0 2px 0;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 17px;
        top: 78px;
        max-width: 320px;
        height: 233px;
        border-width: 2px;
        border-radius: 50px 50px 0 0;
        padding: 20px;
    }

    .pages {
        position: relative;
        bottom: 2px;
        width: 280px;
        flex-direction: column;
        gap: 1px;
    }

    .pages-item {
        font-size: 14px;
        line-height: 20px;
        border-color: #1E1231;
    }

    .social-area-title {
        font-size: 14px;
        line-height: 20px;
    }

    .social-area {
        width: 280px;
        align-items: flex-start;
        gap: 8px;
    }

    .link svg {
        width: 27px;
        height: 27px;
    }
}